.form-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  text-align: left;
  padding: 0 0 2rem 0;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.result {
  gap: 1rem;
  max-width: 60rem;
  margin: 2rem auto 0 auto;
  text-align: center;
  padding: 0 0 2rem 0;
  
  display: block;
  border-radius: 0.5rem;
  background: #C3E6CB;
  border: 2px solid #8ec99c;
  color: #0E0D0B;
  width: 60%;
  height: auto;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.result h1 {
  color: #376E37;
  text-align: center;
  margin-bottom: 1rem;
}

.result p {
  color: #376E37;
}
