<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  
    <input
      class="text-input"
      id="email"
      type="email"
      placeholder="E-mail"
      name="email"
      ngModel
      required
      email
      #email="ngModel"
    />

  @if (email.touched && email.dirty && email.invalid){
    <p class="control-error">
      E-mail inválido. Por favor, tente novamente. 
    </p>
  }

  <input
    class="text-input"
    id="password"
    type="password"
    placeholder="Senha"
    name="senha"
    ngModel
    required
    minlength="6"
    maxlength="55"
    #password="ngModel"
    />

  @if (password.touched && password.dirty && password.invalid){
    <p class="control-error">
      A senha deve atender aos seguintes critérios:<br/>
      - Mínimo 6 caracteres<br/>
      - Máximo 55 caracteres<br/>
    </p>
  }

  <input
    class="text-input"
    id="confirm-password"
    type="password"
    placeholder="Confirmar Senha"
    name="confirmPassword"
    ngModel
    required
    minlength="6"
    maxlength="55"
    #confirmPassword="ngModel"
  />
  
  @if (confirmPassword.touched && confirmPassword.dirty && confirmPassword.value !== password.value){
    <p class="control-error">
      As senhas digitadas não coincidem.<br/>
      Por favor, tente novamente.
    </p>
  }

<!-- 
  <div>
    <label for="a">Sua cor favorita:</label>
    <input
      id="a"
      type="color"
      name="a"
      ngModel
      #password="ngModel"
      />
  </div>

  <div>
    <label for="a">Sua cor favorita:</label>
    <input
      id="a"
      type="time"
      name="a"
      ngModel
      #password="ngModel"
      />
  </div> -->

  <button type="submit" class="button" [disabled]="
    userForm.invalid ||
    confirmPassword.value !== password.value
  "
  >
  Enviar
  </button>

</form>
