<!-- @if (loading) {
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="spinner-border text-primary" role="status">
  </div>
</div>
} -->



@if (estudos$) {
  <div class="container">
    <div class="row row-cols-4">
      @for (estudo of estudos$ | async; track estudo.id) {
        <div class="col">
          <div class="container text-center">
            <div class="card border-{{ getBorderColor(estudo.materia) }}" style="width: 18rem;">
              <div class="card-body">
              <h5 class="card-title">{{ estudo.conteudo }}</h5>
                <p class="card-text">{{ estudo.anotacoes }}</p>
                <a routerLink="{{ estudo.id }}/edit" class="btn btn-primary">Editar</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
@else {
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white rounded-4 shadow p-4 w-50 text-center" style="height: 50vh;">
      Nenhum estudo registrado.

      <button type="button" class="btn btn-primary" routerLink="/new">
        <i class="bi bi-plus-lg"></i> Adicionar novo estudo
      </button>
    </div>
  </div>
}


<!-- 

@if (estudos$ | async; as estudos) {
  <div class="container">
    <div class="row row-cols-4">
      @for (estudo of estudos; track estudo.id) {
        <div class="col">
          <div class="container text-center">
            <div class="card border-{{ getBorderColor(estudo.materia) }}" style="width: 18rem;">
              <div class="card-body">
              <h5 class="card-title">{{ estudo.conteudo }}</h5>
                <p class="card-text">{{ estudo.anotacoes }}</p>
                <a routerLink="{{ estudo.id }}/edit" class="btn btn-primary">Editar</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}

@else {
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="bg-white rounded-4 shadow p-4 w-50 text-center" style="height: 50vh;">
    Nenhum estudo registrado.

    <button type="button" class="btn btn-primary" routerLink="/new">
      <i class="bi bi-plus-lg"></i> Adicionar novo estudo
    </button>
  </div>
</div>
} -->
